.title {
  color: #000000;
  padding-top: 70px;
  width: 100%;
  text-align: center;
  font-family: 'kaiti';
  font-weight: 800;
  font-size: 50px;
}
page {
  background-image: url('https://brand-guide.shuyun.com/IAM/4b21d6a7d9ec.jpg');
  background-repeat: repeat;
  background-position: center center;
  background-size: contain;
}
.title-bottom-img {
  background-image: url('https://brand-guide.shuyun.com/IAM/4cbfbc921078.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.card-container {
  height: 995px;
  padding-top: 8%;
}
.card {
  height: 100%;
  width: 90%;
  background-color: #9ec469;
  margin: 0px auto;
  margin-top: -7%;
  padding-top: 6%;
}
.child-card {
  padding-top: 13%;
  background-color: #ffffff;
  width: 88%;
  height: 69%;
  margin-left: 6%;
  margin-right: 6%;
}
.card-tag {
  float: left;
  width: 100%;
  margin-top: -9%;
  margin-left: -2.5%;
  font-weight: 550;
}
.card-tag > text {
  background-color: #dcd68f;
  color: #6e4015;
  padding: 1%;
  margin-left: 13%;
}

 .pinyin, .hanzi {
  text-align: center;
  line-height: 75px;
  height: 75px;
  font-weight:900;
  font-family: "kaiti";
  font-size: 60px;
  letter-spacing: 2px;
}
.child-card > .pinyin {
  color: #487338;
}
.child-card > .hanzi {
  margin-bottom: 50px;
}

.img-container {
  background-color: #e5edd8;
  width: 80%;
  height: 27vh;
  margin: auto;
}
