<div class="modal-cases-component">
  <form dForm [layout]="layoutDirection" ngForm>
    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'请输入未录入中药名'">名称</d-form-label>
      <d-form-control>
        <div>
          <input
            dTextInput
            autocomplete="off"
            name="name"
            placeholder="请输入未录入中药名"
            [(ngModel)]="name"
            (ngModelChange)="formChange()"
          />
        </div>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">别名</d-form-label>
      <d-form-control>
        <d-tags-input
            style="width: 150px;"
            name="alias"
            [(ngModel)]="aliasTags"
            [displayProperty]="aliasTagConfig.displayProperty"
            [placeholder]="aliasTagConfig.placeholder"
            [minLength]="aliasTagConfig.minLength"
            [maxLength]="aliasTagConfig.maxLength"
            [maxTags]="aliasTagConfig.maxTags"
            [spellcheck]="aliasTagConfig.spellcheck"
            [caseSensitivity]="aliasTagConfig.caseSensitivity"
            [isAddBySpace]="aliasTagConfig.isAddBySpace"
            [checkBeforeAdd]="aliasCheck"
          >
          </d-tags-input>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'需可正常访问的图片链接'">图片链接</d-form-label>
      <d-form-control>
        <d-tags-input
          name="imgList"
          [(ngModel)]="imgList"
          [displayProperty]="taskTagConfig.displayProperty"
          [placeholder]="taskTagConfig.placeholder"
          [minLength]="taskTagConfig.minLength"
          [maxLength]="taskTagConfig.maxLength"
          [maxTags]="taskTagConfig.maxTags"
          [spellcheck]="taskTagConfig.spellcheck"
          [caseSensitivity]="taskTagConfig.caseSensitivity"
          [isAddBySpace]="taskTagConfig.isAddBySpace"
          [checkBeforeAdd]="imgCheck"
        >
        </d-tags-input>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">选择分类</d-form-label>
      <d-form-control>
        <d-cascader
          [options]="options"
          [placeholder]="'请选择'"
          name="categories"
          [(ngModel)]="categories"
          [trigger]="'click'"
          (ngModelChange)="formChange()"
          [showPath]="true"
          [allowClear]="true"
          [width]="300"
          [loadChildrenFn]="loadChildren"
        ></d-cascader>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">性状</d-form-label>
      <d-form-control>
        <div class="row">
          <div class="col-md-5">
            <d-select
              #natureOptionsSelect="select"
              name="natureOptions"
              [options]="natureOptions"
              [isSearch]="true"
              [readonly]="true"
              [multiple]="true"
              [(ngModel)]="natureSelects"
              (ngModelChange)="formChange()"
              [filterKey]="'name'"
              [extraConfig]="{
                labelization: { enable: true, labelMaxWidth: '120px' }
              }"
              [size]="'sm'"
              (toggleChange)="natureToggleChange($event)"
            ></d-select>
          </div>
        </div>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">味</d-form-label>
      <d-form-control>
        <div class="row">
          <div class="col-md-5">
            <d-select
              #tasteOptionsSelect="select"
              name="tasteOptions"
              [options]="tasteOptions"
              [isSearch]="true"
              [readonly]="true"
              [multiple]="true"
              [(ngModel)]="tasteSelects"
              [filterKey]="'name'"
              (ngModelChange)="formChange()"
              [extraConfig]="{
                labelization: { enable: true, labelMaxWidth: '120px' }
              }"
              [size]="'sm'"
              (toggleChange)="tasteToggleChange($event)"
            ></d-select>
          </div>
        </div>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">归经</d-form-label>
      <d-form-control>
        <div class="row">
          <div class="col-md-5">
            <d-select
              #meridianTropismOptionsSelect="select"
              name="meridianTropismOptions"
              [options]="meridianTropismOptions"
              [isSearch]="true"
              [readonly]="true"
              [multiple]="true"
              [(ngModel)]="meridianTropismSelects"
              (ngModelChange)="formChange()"
              [filterKey]="'name'"
              [extraConfig]="{
                labelization: { enable: true, labelMaxWidth: '120px' }
              }"
              [size]="'sm'"
              (toggleChange)="meridianTropismToggleChange($event)"
            ></d-select>
          </div>
        </div>
      </d-form-control>
    </d-form-item>
    <d-form-item>
      <d-form-label [required]="true">内容</d-form-label>
      <d-button (btnClick)="addContent()">添加内容</d-button>
      <d-form-control *ngFor="let content of contents; index as i; first as isFirst" [extraInfo]="'您最多还可以输入 ' + (2000 - content.content.length) + ' 个字符'">
        <d-card style="width: 350px">
          <d-card-header>
            <d-card-title>
              内容{{i + 1}}标题：<input
                dTextInput
                autocomplete="off"
                name="title{{i}}"
                placeholder="请输入小标题"
                [(ngModel)]="content.title"
                (ngModelChange)="formChange()"
              />
            </d-card-title>
          </d-card-header>
          <d-card-actions [align]="'spaceBetween'">
            <textarea
              dTextarea
              name="content{{i}}"
              maxlength="2000"
              style="height: 100px; resize: none"
              placeholder="请输入内容"
              [(ngModel)]="content.content"
              (ngModelChange)="formChange()"
            ></textarea>
          </d-card-actions>
          <d-button (btnClick)="removeContent(i)" style="padding-top: 8px;" *ngIf="!isFirst">删除</d-button>
        </d-card>
      </d-form-control>
    </d-form-item>
  </form>
</div>
