<div class="da-content-banner">
  <d-breadcrumb>
    <d-breadcrumb-item
      ><a routerLink="/">
        {{ 'startUsing.breadcrumb.home' | translate }}
      </a></d-breadcrumb-item
    >
    <d-breadcrumb-item>
      {{ 'startUsing.breadcrumb.start' | translate }}
    </d-breadcrumb-item>
    <d-breadcrumb-item>
      {{ 'startUsing.breadcrumb.example' | translate }}
    </d-breadcrumb-item>
  </d-breadcrumb>
  <div class="da-content-banner-title">
    {{ 'startUsing.examplePage.name' | translate }}
  </div>
  <div>
    {{ 'startUsing.examplePage.description' | translate }}
  </div>
</div>
<div class="da-content-wrapper">
  <div class="da-content-card" style="height: 100%;">
  <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="3" [daXs]="3">
        <d-button (click)="openstandardDialog('standard')">新增</d-button>
      </da-col-item>
      <da-col-item [daSpan]="24" [daXs]="24">
        <d-data-table [dataSource]="chineseMedicines" [scrollable]="true" [tableWidthConfig]="tableWidthConfig">
          <thead dTableHead>
            <tr dTableRow>
              <th dHeadCell>#</th>
              <th dHeadCell *ngFor="let colOption of dataTableOptions.columns">{{ colOption.header }}</th>
            </tr>
          </thead>
          <tbody dTableBody>
            <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
              <tr dTableRow>
                <td dTableCell>{{ rowIndex + 1 }}</td>
                <td dTableCell *ngFor="let colOption of dataTableOptions.columns">
                  {{ colOption.fieldType === 'date' ? (rowItem[colOption.field] | i18nDate: 'short':false) : rowItem[colOption.field] }}
                </td>
              </tr>
            </ng-template>
          </tbody>
        </d-data-table>
      </da-col-item>
      <da-col-item [daSpan]="24" [daXs]="24"></da-col-item>
      <da-col-item [daSpan]="6" [daXs]="6"></da-col-item>
      <da-col-item [daSpan]="6" [daXs]="6"></da-col-item>
      <da-col-item [daSpan]="12" [daXs]="12">
        <d-pagination
            [size]="'sm'"
            [total]="pager.total"
            [(pageSize)]="pager.pageSize"
            [(pageIndex)]="pager.pageIndex"
            [maxItems]="10"
            [canViewTotal]="true"
            [canJumpPage]="true"
            [canChangePageSize]="true"
            (pageIndexChange)="pageIndexChange($event)"
            (pageSizeChange)="pageSizeChange($event)"
          >
          </d-pagination>
      </da-col-item>
    </da-layout-row>
  </div>

</div>
