.index {
  width: 100%;
}
.title-container {
  width: 100%;
  height: 769px;
  background-image: url('https://brand-guide.shuyun.com/IAM/b3d80feec285.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.title {
  color: #000000;
  padding-top: 70px;
  width: 100%;
  text-align: center;
  font-family: 'fzkt';
  font-weight: 800;
  font-size: 50px;
}
.calendar {
  padding-top: 50px;
  font-size: 30px;
  color: #40880a;
}

.cover {
  height: 565px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 40px auto auto auto;
  width: 50%;
  background-image: url('https://brand-guide.shuyun.com/IAM/5d337e3d7ea7.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.cover-title {
  height: 565px;
  writing-mode: vertical-lr;
  position: relative;
  text-align:center;
  color: #ffffff;
}
