.index {
  width: 100%;
}

.title-container {
  width: 100%;
  height: 769px;
  background-image: url("https://brand-guide.shuyun.com/IAM/b3d80feec285.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 16%;
}

.title {
  color: #000000;
  padding-top: 70px;
  width: 100%;
  text-align: center;
  font-family: "kaiti";
  font-weight: 800;
  font-size: 50px;
}

.calendar {
  padding-top: 50px;
  font-size: 30px;
  color: #40880a;
}

.cover {
  height: 565px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 40px auto auto auto;
  width: 50%;
  background-image: url("https://brand-guide.shuyun.com/IAM/5d337e3d7ea7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.page {
  margin: 40px auto auto auto;
  height: 565px;
  width: 50%;
  background-image: url("https://brand-guide.shuyun.com/IAM/ea304f3c39ee.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.nest-page {
  background-image: url("https://brand-guide.shuyun.com/IAM/0c013f7c2d88.png");
}
.eye {
  background-image: url("https://brand-guide.shuyun.com/IAM/44e57334bb0f.png");
}

.cover-title {
  height: 565px;
  writing-mode: vertical-lr;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(80, 1.25%);
  font-family: "kaiti";
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 30px;
}

.item-container-pinyin {
  color: #40880a;
}

.item-container {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #00000000;
  /* padding: 20px; */
  text-align: center;
  background-color: #f7fbf6;
}

.list-bottom {
  height: 78%;
}

.child-category {
  height: 5vh;
  width: 92%;
  margin: auto;
  background: #f1f1f1;
  color: #999999;
  line-height: 5vh;
  margin-bottom: 30px;
  word-break: keep-all;
  overflow: scroll;
}

.child-category>text {
  padding: 0px 30px;
}

.bottom-img {
  height: 680px;
  background-image: url("https://brand-guide.shuyun.com/IAM/8daed5bf2e87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.search {
  background-color: #e5edd8;
  width: 90%;
  margin: auto;
  border-radius: 30px;
  height: 60px;
  width: 90%;
  text-align: center;
  opacity: 80%;
  color: #1e1414;
}

.foot {
  /* background-color: rgb(219, 19, 19); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-bottom: 40px;
}

.foot>text {
  font-size: 18px;
  color: #b3b0b0;
}

.foot>.sup {
  margin-top: 10px;
  font-size: 25px;
  color: #466846;
}

.touched {
  background-color: #346634;
  color: #ffffff;
}

.childTouched {
  color: #656634;
}

.selected {
  background-color: #6f703e;
  color: #fdffcd;
}

.name {
  background-color: #323302;
  color: #fdffcd;
  margin: 10px;
  padding: 15px 30px;
  border-radius: 0px 40px 40px 40px;
}

.name-list {
  font-family: "kaiti";
  font-weight: 500;
  width: 92%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.text-margin {
  height: 90%;
}
