<d-layout class="layout-wrapper">
  <d-header></d-header>
  <d-content>
    <d-row>
      <d-col [dSpan]="8"></d-col>
      <d-col [dSpan]="8">
        <d-card class="card-container">
          <d-card-header>
            <d-card-title>中草药名录管理后台</d-card-title>
            <d-card-subtitle><i class="icon-company-member card-icon"></i><span>管理员登录</span></d-card-subtitle>
          </d-card-header>
          <d-card-content>
            <app-login-form></app-login-form>
          </d-card-content>
        </d-card>
      </d-col>
      <d-col [dSpan]="8"></d-col>
    </d-row>
  </d-content>
</d-layout>
