@import '~ng-devui/styles-var/devui-var.scss';

.layout-wrapper {
  display: block;
  box-shadow: $devui-shadow-length-base $devui-light-shadow;
  margin-top: 36px;

  &:first-child {
    margin-top: 0;
  }
  height: 100vh;
}

d-header {
  text-align: center;
  // line-height: 400px;
  height: 20%;
  background-color: $devui-global-bg; // TODO: color not variable
  color: $devui-light-text;
}

d-content {
  // height: 100%;
  // line-height: 200px;
  text-align: center;
  background-color: $devui-global-bg;
}

d-footer {
  color: $devui-light-text;
  background-color: $devui-base-bg-dark;
  padding: 8px 24px;
  flex: 0 0 auto;
}




.card-icon {
  cursor: pointer;
  font-size: $devui-font-size-icon;
  margin-right: 8px;
  vertical-align: middle;
}

.card-icon + span {
  vertical-align: middle;
}

.card-block {
  margin-right: 16px;
}

d-card {
  cursor: pointer;
  transition:
    box-shadow $devui-animation-duration-slow $devui-animation-ease-in-out-smooth,
    transform $devui-animation-duration-slow $devui-animation-ease-in-out-smooth;

  &:hover {
    box-shadow: $devui-shadow-length-hover $devui-light-shadow;
    transform: translateY(-5px);
  }
}

.card-container {
  width: 350px;
}
